*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}
img{
    height: 280px;
    width: 400px;
    transition: all 1s;
   margin: 23px;
    border-radius: 20px;
    flex-wrap: wrap;

}
img:hover{
    transform: scale(1.1);
}

h1{
    padding: 20px;
    text-align: center;
    background-color: rgb(98, 148, 240);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-shadow: 2px 3px 2px #000000;;
}
span{
    color: red;
}

.foo{
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    background-color:  rgb(98, 148, 240);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 25px;
}

